<!-- Modal untuk Detail Campaign Donasi -->
<div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="detailCampaignModal<%= idx %>"
   id="detail<%= detail.id %>id" data-target="#detail<%= detail.id %>id" aria-hidden="true">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="detailCampaignModal<%= idx %>">
               Detail Campaign Donasi <%= detail.judul %>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-xl-4 col-lg-6">
                  <h4 class="font-size-16 mb-3">Informasi </h4>

                  <div class="table-responsive">
                     <table class="table table-bordered table-striped">
                        <tbody>
                           <tr>
                              <th>Judul </th>
                              <td>
                                 <%= detail.judul %>
                              </td>
                           </tr>
                           <tr>
                              <th style="max-width:150px;">Deskripsi</th>
                              <td>
                                 <%= detail.deskripsi %>
                              </td>
                           </tr>
                           <tr>
                              <th>Target Donasi</th>
                              <td>
                                 <%= detail.targetDonasi %>
                              </td>
                           </tr>
                           <tr>
                              <th>Donasi Terkumpul</th>
                              <td>
                                 <%= detail.terkumpul %>
                              </td>
                           </tr>
                           <tr>
                              <th>Tanggal Mulai</th>
                              <td>
                                 <%= detail.tanggalMulai %>
                              </td>
                           </tr>
                           <tr>
                              <th>Tanggal Selesai</th>
                              <td>
                                 <%= detail.tanggalSelesai %>
                              </td>
                           </tr>
                           <tr>
                              <th>Main Campaign</th>
                              <td>
                                 <% if(detail.mainCampaign ) { %>
                                    <span class="badge bg-success">
                                       <%= detail.mainCampaign %>
                                    </span>
                                    <% } else { %>
                                       <span class="badge bg-secondary">
                                          <%= detail.mainCampaign %>
                                       </span>
                                       <% } %>
                              </td>
                           </tr>
                           <tr>
                              <th>Status</th>
                              <td>
                                 <% if(detail.status==='PUBLISH' ) { %>
                                    <span class="badge bg-success">
                                       <%= detail.status %>
                                    </span>
                                    <% } else { %>
                                       <span class="badge bg-warning">
                                          <%= detail.status %>
                                       </span>
                                       <% } %>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>


               </div>

               <div class="col-xl-8 col-lg-6">
                  <h4 class="font-size-16 mb-3">Thumbnail Campaign</h4>
                  <% if (detail.photo) { %>
                     <div class="card">
                        <img class="card-img-top img-fluid" src="<%= detail.photo %>" alt="Campaign Thumbnail">
                        <!-- <div class="card-body">
                           <h5 class="card-title">Thumbnail Campaign</h5>
                           <p class="card-text">Ini adalah gambar utama untuk campaign donasi.</p>
                        </div> -->
                     </div>
                     <% } else { %>
                        <div class="alert alert-warning">
                           Tidak ada thumbnail tersedia untuk campaign ini.
                        </div>
                        <% } %>
               </div>
            </div>
         </div>
         <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
         </div> -->
      </div>
   </div>
</div>