<%- include('../../partials/header.ejs', {session: session}) -%>
   <div class="main-content">
      <div class="page-content">
         <div class="container-fluid">
            <div class="floating-alert-delete-success"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9103;">
               <div class="alert alert-success" role="alert">
                  <strong>Well done!</strong> Data berhasil dihapus.
               </div>
            </div>
            <div class="floating-alert-delete-failed"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9104;">
               <div class="alert alert-danger" role="alert">
                  <strong>Failed!</strong> Data gagal dihapus.
               </div>
            </div>

            <!-- start page title -->
            <div class="page-title-box">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <h6 class="page-title">Data Donasi</h6>
                  </div>
                  <div class="col-md-4">
                     <div class="float-end d-none d-md-block">
                        <% if (session.userType==='ADMINISTRATOR' ) { %>
                           <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                              data-bs-target=".bs-example-modal-center">
                              <i class="fas fa-plus"></i> Tambah</button>
                           <%- include('./popup-add-donasi.ejs', {campaign: campaign}) -%>
                              <% } %>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end page title -->


            <div class="col-12">
               <div class="card">
                  <div class="card-body">
                     <div class="row">
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                           tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Konfirmasi Hapus Data Donasi</h5>
                                 </div>
                                 <div class="modal-body">
                                    Apakah Anda yakin ingin menghapus data donasi ini?
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="confirmDelete">Hapus</button>
                                    <button type="button" class="btn btn-secondary"
                                       data-bs-dismiss="modal">Cancel</button>
                                 </div>
                              </div>
                              <!-- /.modal-content -->
                           </div>
                           <!-- /.modal-dialog -->
                        </div>

                        <h4 class="card-title">List Donasi</h4>

                        <div class="table-responsive">
                           <table class="table table-editable table-nowrap align-middle table-edits">
                              <thead>
                                 <tr>
                                    <th>Nomor</th>
                                    <th>Donatur</th>
                                    <th>Jumlah</th>
                                    <th>Metode</th>
                                    <th>Status</th>
                                    <th>Tanggal Donasi</th>
                                    <th>Tanggal Verifikasi</th>
                                    <% if (session.userType==='ADMINISTRATOR' ) { %>
                                       <th>Action</th>
                                       <% } %>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% for(var i=0; i < data.length; i++) { %>
                                    <tr data-id="1">
                                       <td data-field="nomor" style="width: 80px">
                                          <%= i + 1 %>
                                       </td>
                                       <td data-field="donatur">
                                          <%=data[i].donatur%>
                                       </td>
                                       <td data-field="total">
                                          <%=data[i].jumlah%>
                                       </td>
                                       <td data-field="metode">
                                          <% if(data[i].metode==="TUNAI" ) { %>
                                             <span class="text-primary" style="font-weight: 700;">
                                                <%= data[i].metode %>
                                             </span>
                                             <% } else if(data[i].metode==="TRANSFER" ) { %>
                                                <span class="text-info" style="font-weight: 700;">
                                                   <%= data[i].metode %>
                                                </span>
                                                <% } %>
                                       </td>
                                       <td data-field="status">
                                          <% if(data[i].status_verifikasi==="VERIFIED" ) { %>
                                             <span class="text-success" style="font-weight: 700;">
                                                <%= data[i].status_verifikasi %>
                                             </span>
                                             <% } else if(data[i].status_verifikasi==="PENDING" ) { %>
                                                <span class="text-warning" style="font-weight: 700;">
                                                   <%= data[i].status_verifikasi %>
                                                </span>
                                                <% } else { %>
                                                   <span class="text-danger" style="font-weight: 700;">
                                                      <%= data[i].status_verifikasi %>
                                                   </span>
                                                   <% } %>
                                       </td>
                                       <td data-field="date-donation">
                                          <%=data[i].tanggal_submit%>
                                       </td>
                                       <td data-field="date-verif">
                                          <%=data[i].tanggal_verifikasi%>
                                       </td>
                                       <% if (session.userType==='ADMINISTRATOR' ) { %>
                                          <%= console.log("campaign_id",data[i].campaignId) %>
                                             <td style="width: 100px">
                                                <a class="btn btn-primary waves-effect waves-light"
                                                   data-bs-toggle="modal" data-bs-target="#detail<%= data[i].id %>id">
                                                   <i class="fas fa-eye"></i>
                                                </a>
                                                <%- include('./popup-detail-donasi.ejs', {detail: data[i], idx: i}) -%>
                                                   <button class="btn btn-warning waves-effect waves-ligh" title="Edit"
                                                      <%=data[i].campaignId!=null && "disabled" %>
                                                      data-bs-toggle="modal"
                                                      data-bs-target="#edit<%= data[i].id %>id">
                                                         <i class="fas fa-pencil-alt"></i>
                                                   </button>
                                                   <%- include('./popup-edit-donasi.ejs', {edit: data[i], idx: i}) -%>
                                                      <button type="button" class="btn btn-danger"
                                                         <%=data[i].status_verifikasi=="VERIFIED" && "disabled" %>
                                                         data-bs-toggle="modal" data-item-id="<%= data[i].id %>"
                                                            data-bs-target="#staticBackdrop">
                                                            <i class="fas fa-trash-alt"></i>
                                                      </button>
                                             </td>
                                             <% } %>
                                    </tr>
                                    <% } %>
                              </tbody>
                              <!-- end tbody -->
                           </table>
                           <!-- end table -->
                        </div>
                        <!-- end -->
                     </div>
                  </div>
               </div> <!-- end col -->
            </div> <!-- end row -->
            <% if (true) { %>
               <script>
                  document.addEventListener('DOMContentLoaded', function () {
                     let timerInterval;
                     Swal.fire({
                        title: 'Success!',
                        html: 'I will close in <strong></strong> seconds.',
                        text: 'OKKK',
                        icon: 'success',
                        timer: 2000,
                        confirmButtonColor: "#556ee6",
                        onBeforeOpen: function () {
                           Swal.showLoading();
                           timerInterval = setInterval(function () {
                              const content = Swal.getContent();
                              if (content) {
                                 const strong = content.querySelector('strong');
                                 if (strong) {
                                    strong.textContent = Math.ceil(Swal.getTimerLeft() / 1000);
                                 }
                              }
                           }, 100);
                        },
                        onClose: function () {
                           clearInterval(timerInterval);
                        }
                     }).then(function (result) {
                        if (result.dismiss === Swal.DismissReason.timer) {
                           console.log('I was closed by the timer');
                        }
                     });
                  });
               </script>
               <% } %>
         </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

   </div>

   <script>

      const modal = document.getElementById('staticBackdrop');
      let itemToDelete = null;

      // When the modal is shown, get the item ID from the button that triggered it
      modal.addEventListener('show.bs.modal', function (event) {
         const button = event.relatedTarget;
         itemToDelete = button.getAttribute('data-item-id');
      });

      // Add click handler to the confirm delete button
      document.getElementById('confirmDelete').addEventListener('click', async function () {
         if (itemToDelete) {
            async function send() {
               await deleteItem(itemToDelete);
            }
            send();
            // Close the modal
            const modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();

            showFloatingAlert('success_delete');
            setTimeout(() => {
               window.location.reload();
            }, 500);
         }
      });

      async function deleteItem(id) {
         try {
            await fetch(`/donasi/donasi/${id}`, { method: 'DELETE' });

         } catch (err) {
            console.error('Delete failed:', err);
            showFloatingAlert('failed_delete');
         }
      }

      function showFloatingAlert(type) {

         if (type === 'success_delete') {
            const alert = document.querySelector('.floating-alert-delete-success')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'failed_delete') {
            const alert = document.querySelector('.floating-alert-delete-failed')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         }
      }
   </script>
   <%- include('../../partials/footer.ejs') -%>