<%- include('../../partials/header.ejs', {session: session}) -%>

   <div class="main-content">

      <div class="page-content">
         <div class="container-fluid">
            <div class="floating-alert-save-success"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9999;">
               <div class="alert alert-success" role="alert">
                  <strong>Well done!</strong> Data berhasil disimpan.
               </div>
            </div>
            <div class="floating-alert-save-failed"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9100;">
               <div class="alert alert-danger" role="alert">
                  <strong>Failed!</strong> Data gagal disimpan.
               </div>
            </div>
            <div class="floating-alert-update-success"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9101;">
               <div class="alert alert-success" role="alert">
                  <strong>Well done!</strong> Data berhasil disimpan.
               </div>
            </div>
            <div class="floating-alert-update-failed"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9102;">
               <div class="alert alert-danger" role="alert">
                  <strong>Failed!</strong> Data gagal diupdate.
               </div>
            </div>
            <div class="floating-alert-delete-success"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9103;">
               <div class="alert alert-success" role="alert">
                  <strong>Well done!</strong> Data berhasil dihapus.
               </div>
            </div>
            <div class="floating-alert-delete-failed"
               style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9104;">
               <div class="alert alert-danger" role="alert">
                  <strong>Failed!</strong> Data gagal dihapus.
               </div>
            </div>
            <!-- start page title -->
            <div class="page-title-box">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <h6 class="page-title">Data Pengeluaran</h6>
                  </div>
                  <div class="col-md-4">
                     <% if (session.userType==='ADMINISTRATOR' ) { %>
                        <div class="float-end d-none d-md-block">
                           <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                              data-bs-target=".bs-example-modal-center">
                              <i class="fas fa-plus"></i> Tambah</button>
                           <%- include('./popup-add-pengeluaran.ejs', {listCampaign:listCampaign}) -%>
                        </div>
                        <% } %>
                  </div>
               </div>
            </div>
            <!-- end page title -->
            <!-- <div class="">
               <div class="alert alert-success" role="alert" style="width: 50%; float:right;">
                  <strong>Well done!</strong> You successfully read this important alert message.
               </div>
            </div> -->


            <div class="row">
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">

                        <h4 class="card-title">Data Pengeluaran</h4>

                        <div class="table-responsive">
                           <table class="table table-editable table-nowrap align-middle table-edits">
                              <thead>
                                 <tr>
                                    <th>Nomor</th>
                                    <th>Nama Campaign</th>
                                    <th>Keterangan</th>
                                    <th>Jumlah</th>
                                    <th>Tanggal</th>
                                    <% if (session.userType==='ADMINISTRATOR' ) { %>
                                       <th>Action</th>
                                       <% } %>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% if (listPengeluaran.length> 0) { %>
                                    <% listPengeluaran.map((pengeluaran, index)=> { %>
                                       <tr data-id="<%= index + 1 %>">
                                          <td data-field="nomor" style="width: 80px">
                                             <%= index + 1 %>
                                          </td>
                                          <td data-field="judul">
                                             <% if (pengeluaran.judulCampaign) { %>
                                                <%= pengeluaran.judulCampaign %>
                                                   <% } else { %>
                                                      -
                                                      <% } %>
                                          </td>
                                          <td data-field="keterangan">
                                             <%= pengeluaran.keterangan %>
                                          </td>
                                          <td data-field="jumlah">
                                             <%= pengeluaran.jumlahFormated %>
                                          </td>
                                          <td data-field="tanggal">
                                             <%= pengeluaran.tanggal %>
                                          </td>
                                          <% if (session.userType==='ADMINISTRATOR' ) { %>
                                             <td style="width: 100px">
                                                <%- include('./popup-detail-pengeluaran.ejs', {detail: pengeluaran, idx:
                                                   index}) -%>
                                                   <a class="btn btn-primary waves-effect waves-light"
                                                      data-bs-toggle="modal"
                                                      data-bs-target="#detail<%= pengeluaran.id %>id">
                                                      <i class="fas fa-eye"></i>
                                                   </a>
                                                   <%- include('./popup-edit-pengeluaran.ejs', {edit: pengeluaran, idx:
                                                      index}) -%>
                                                      <a class="btn btn-warning waves-effect waves-ligh" title="Edit"
                                                         data-bs-toggle="modal"
                                                         data-bs-target="#edit<%= pengeluaran.id %>id">
                                                         <i class="fas fa-pencil-alt"></i>
                                                      </a>
                                                      <a class="btn btn-danger waves-effect waves-ligh" title="Delete"
                                                         onclick="deleteItem('<%=  pengeluaran.id %>')"
                                                         data-bs-toggle="modal">
                                                         <i class="fas fa-trash-alt"></i>
                                                      </a>
                                             </td>
                                             <% } %>
                                       </tr>
                                       <% }) %>
                                          <% } else { %>
                                             <tr>
                                                <td colspan="7" class="text-center">Data tidak ditemukan</td>
                                             </tr>
                                             <% } %>


                              </tbody>
                              <!-- end tbody -->
                           </table>
                           <!-- end table -->
                        </div>
                        <!-- end -->
                     </div>
                  </div>
               </div> <!-- end col -->
            </div> <!-- end row -->

         </div> <!-- container-fluid -->

      </div>
      <!-- End Page-content -->
   </div>
   <script>
      async function deleteItem(id) {
         try {
            await fetch(`/laporan/pengeluaran/${id}`, { method: 'DELETE' });

            showFloatingAlert('success_delete');
            setTimeout(() => {
               window.location.reload();
            }, 500);
         } catch (err) {
            console.error('Delete failed:', err);
            showFloatingAlert('failed_delete');
         }
      }

      function showFloatingAlert(type) {

         if (type === 'success_save') {
            const alert = document.querySelector('.floating-alert-save-success')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'failed_save') {
            const alert = document.querySelector('.floating-alert-save-failed')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'success_update') {
            const alert = document.querySelector('.floating-alert-update-success')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'failed_update') {
            const alert = document.querySelector('.floating-alert-update-failed')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'success_delete') {
            const alert = document.querySelector('.floating-alert-delete-success')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         } else if (type === 'failed_delete') {
            const alert = document.querySelector('.floating-alert-delete-failed')
            alert.style.display = 'block';

            // Auto hide after 3 seconds
            setTimeout(() => {
               alert.style.opacity = '0';
               alert.style.transition = 'opacity 3s';
               setTimeout(() => {
                  alert.style.display = 'none';
                  alert.style.opacity = '1';
               }, 1000);
            }, 1200);
         }
      }
   </script>
   <%- include('../../partials/footer.ejs') -%>