<div class="modal fade bs-example-modal-xl" tabindex="-1999" aria-labelledby="edit<%= edit.id %>"
   id="edit<%= edit.id %>id" data-target="#edit<%= edit.id %>id">

   <!-- <div class="modal fade bs-example-modal-center" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"> -->
   <div class="modal-dialog modal-modal-xl modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Ubah Pengeluaran Donasi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="col-lg-12">
               <div class="card">
                  <div class="card-body">

                     <!-- <h4 class="card-title mb-4">Data Wali Anak Asuh</h4> -->

                     <form class="custom-validation" id="formEditPengeluaran" enctype="multipart/form-data" va>
                        <div class="md-3">
                           <label for="idCampaign" class="form-label">Campaign Donasi</label>
                           <select class="form-select" id="validationCustom04" required name="idCampaign">
                              <option selected disabled value="">Pilih Campaign Donasi...</option>
                              <% listCampaign.forEach((campaign, index)=> { %>
                                 <option <%=edit.campaignId==campaign.id && "selected" %> value="<%= campaign.id %>"
                                       >
                                       <%= campaign.judul %>
                                 </option>
                                 <% }) %>
                           </select>
                           <div class="invalid-feedback">
                              Pilih Salah Satu Status.
                           </div>
                        </div>
                        <div class="mb-3">
                           <label class="form-label" for="keterangan">Keterangan</label>
                           <div>
                              <textarea name="keterangan" class="form-control" rows="5" required
                                 placeholder="keterangan..."><%= edit.keterangan %></textarea>
                           </div>
                        </div>
                        <div class="mb-3">
                           <label class="form-label" for=jumlah">Jumlah</label>
                           <input type="number" class="form-control" required step="0.01" value="<%= edit.jumlah %>"
                              placeholder="Jumlah pengeluaran" name="jumlah">
                        </div>

                        <div class="mb-3">
                           <label class="form-label" for="tanggal">Tanggal Pengeluaran</label>
                           <div class="input-group" id="datepicker2">
                              <input type="date" class="form-control" placeholder="dd M yyyy" name="tanggal" required
                                 data-date-format="dd M yyyy" data-date-container='#datepicker2'
                                 data-provide="datepicker2" data-date-autoclose="true"
                                 value="<%= edit.tanggalFormated %>">

                           </div>
                        </div>

                        <div class="mb-3">
                           <label class="form-label" for="bukti">Bukti</label>
                           <div class="mb-5">
                              <div class="fallback">
                                 <input name="file" type="file" accept="image/png, image/jpeg, image/jpg, .pdf"
                                    style="background-color: transparent; border-radius: 0; border: none;">
                              </div>
                           </div>
                        </div>

                        <div class="mb-0">
                           <div>
                              <button type="button" class="btn btn-primary waves-effect waves-light me-1" onclick="SaveUpdate(
                                 '<%= edit.id %>'
                                 )">
                                 Submit
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <!-- end form -->
               </div><!-- end cardbody -->
            </div><!-- end card -->
         </div> <!-- end col -->
      </div>
   </div>
</div>
<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->
</div>

<script>
   async function SaveUpdate(id) {
      try {
         const form = document.getElementById('formEditPengeluaran');
         // console.log('form', form);
         const formData = new FormData(form);
         // const data = {};
         // formData.forEach((value, key) => {
         //    data[key] = value;
         // });
         // console.log('data', data);
         // console.log('data', data);
         // await fetch('/laporan/tambah-pengeluaran', {
         //    method: 'POST',
         //    body: formData,
         // });


         await fetch(`/laporan/ubah-pengeluaran/${id}`, {
            method: 'POST',
            body: formData,
         });
         showFloatingAlert("success_update");
         console.log('success_update');


         // disable modal


         setTimeout(() => {
            window.location.reload();
         }, 2000);
      } catch (err) {
         console.log('Save failed:', err);
         showFloatingAlert('failed_update');
      }
   }

</script>